* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
    color: black
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700px;
    color: #00abf0
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: black;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0; 
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/* ABOUT SECTION */
.about {
    height: 120vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: aliceblue;
}

/* LAYOUT */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

/* TEXT */
.about-text {
    max-width: 500px;
    animation: fadeInLeft 1s ease forwards;
}

.about-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.about-text h3 {
    font-size: 24px;
    color: #00abf0;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* BUTTON */
.about-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #00abf0;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.about-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 171, 240, 0.4);
}

/* IMAGE */
.about-img img {
    width: 300px;
    border-radius: 20px;
    animation: fadeInRight 1s ease forwards;
    transition: 0.3s;
}

.about-img img:hover {
    transform: scale(1.05);
}

/* ANIMATIONS */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
